{% extends "base.html" %}
{% set pageTitle = "Account" %}
{% set pageDescription = "SC Health Atlas Account" %}
{% set pageLink = "/" %}

{% block header %}

<style>
div.container {
        width: 100%;
        margin:20px 0;
    }
    
input[type="search"] {
	-webkit-appearance: searchfield;
	box-sizing: border-box;
	box-shadow:none;
	-webkit-writing-mode: horizontal-tb;
	margin: 0em;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 3px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	padding: 1px;
	background-color: white;
	border: 2px inset;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
}

#dataTable_filter {display:none;}

.navbar-brand {font-size:45px;}
.navbar-brand small{font-size:22px;}

.navbar-default .dropdown-menu a {
	color: black !important;
}

html, body {
	height:auto;
	width:100%;
	margin: 0;
	z-index: 0;
	overflow:auto;
}

.placeImage {max-height:70px;margin:0 10px 0 0;display:inline;vertical-align:middle;}

.page-header {
	padding-bottom: 0;
	margin: 40px 0 20px;
	border-bottom: none;
}
</style>

{% endblock %}



{% block content %}

<h2>Welcome,<br>{{ UserName }}</h2>




<br>
{% if role == "Admin" %}
	<p>You are logged in as an admin.</p>
{% endif %}

{% endblock %}