<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="keywords" content="Contra,Dance,Folk,Carolina,Columbia,University of South Carolina,USC,Dance Map">
<meta name="description" content="{{pageDescription}}">
<title>{{pageTitle}}</title>
<link rel="shortcut icon" href="CarolinaContra/favicon.ico" type="image/x-icon">
<link href="CarolinaContra/font/fontello.css" rel="stylesheet" type="text/css">
<link href="CarolinaContra/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css">
<link href="CarolinaContra/type.css" rel="stylesheet" type="text/css">
<link href="CarolinaContra/bootstrap.css" rel="stylesheet" type="text/css">
<link href="CarolinaContra/style.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lato|PT+Serif|Abril+Fatface|Oswald:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<script src="CarolinaContra/jquery-1.7.2.min.js"></script>
<script src="CarolinaContra/jquery.scrollTo-min.js"></script>
<script src="CarolinaContra/jquery-ui-1.10.3.min.js"></script>
<script src="CarolinaContra/bootstrap.min.js"></script>
<header>

<a class="brand" href="/"><div class="logo"></div></a>

<div class="nav2">
	<ul id="menu-button-left" class="button-left">
		<li id="menu-item-3294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3294">
			<a class="up icon-calendar" href="/#calendar">Calendar</a>
		</li>
	</ul>
	<ul id="menu-button-right" class="button-right">
		<li id="menu-item-4684" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4684">
			<a href="/#directions" class="up icon-direction">Directions</a>
		</li>
	</ul>	
</div>

<nav class="navbar">
  <div class="navbar-inner">
    <div class="container">
    <a class="btn btn-navbar icon" data-toggle="collapse" data-target=".nav-collapse"></a>
      <!-- Be sure to leave the brand out there if you want it shown -->
      <div class="nav-collapse collapse">
         <ul class="nav">
			 <ul id="menu-top-left" class="top-left-menu">
			 	<li id="menu-item-3540" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-3540"><a href="/">Home</a></li>
			 	<li id="menu-item-3266" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-3266"><a href="info" alt="About Contra Dance">What is Contra?</a></li>
				<li id="menu-item-3296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3296"><a href="/#calendar" alt="Calendar">Dance Calendar</a></li>
				<li id="menu-item-3297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3297"><a href="/#directions" alt="Directions">Get Directions</a></li>
				<li id="menu-item-3299" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3299"><a href="howto" alt="New Dancers">Tips for New Dancers</a></li>
				<li id="menu-item-3463" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3463"><a href="map" alt="Dance Map">Dance Map</a></li>
			</ul>			 			    
			<ul id="menu-top-right" class="top-right-menu">
				<li id="menu-item-3267" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3267"><a href="map">Dance Map</a></li>
				<li id="menu-item-3268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3268"><a href="howto">New Dancers</a></li>
			</ul>						
 		</ul>
      </div>
        <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div>
  </div>
</nav>
<div id="headerpadding" style="height:0px;"></div>
</header>





{% block content %} {% endblock %}





<footer>
<div class="container"> 
  <div class="row-fluid"> 
     
  	<div id="foot-col-1" class="foot-col span4">
  		<h3 class="black-ribbon foot"><a href="map">Other Resources</a></h3>
  		<ul class="recent">
									    <li><a href="http://www.cdss.org/">Country Dance & Song Society &raquo;</a></li>
						    <li><a href="http://www.contradancelinks.com/" rel="bookmark">Contra Dance Links &raquo;</a></li>
						    <li><a href="http://www.tedcrane.com/DanceDB/" rel="bookmark">Ted Crane's Dance Database &raquo;</a></li>
						    <li><a href="http://www.trycontra.com/" target="_blank">'Try Contra' Dance Lookup &raquo;</a></li>
		</ul>
  	</div>  
  	
  	<div id="foot-col-2" class="foot-col span4">
		<h3 class="black-ribbon foot">Join Us Elsewhere</h3>
		<ul class="social">
		<li class="fb"><a href="https://www.facebook.com/carolinacontra"><span>Visit Our Facebook</span></a></li> 
		<li class="twitter"><a href="mailto:mail@carolinacontra.org?Subject=Add to Carolina Contra Mailing List"><span>Join Our Mailing List</span></a></li>
		<li class="youtube"><a href="/#calendar"><span>View Upcoming Dances</span></a></li>	
		</ul>
	</div> 
	
  	  	<div id="foot-col-3" class="foot-col span4">
	  		<h3 class="black-ribbon foot">Let's Dance!</h3>
	  		<div class="contact-us">
	  			<p>Contra dances are held at the Arsenal Hill Community Center in downtown Columbia on the third Saturday of the month.</p>
	  			<div class="row-fluid">
	  				<div class="span6"
	  				<p>1802 Lincoln St<br>
	  				Columbia, SC 29201</p>
	  				</div>
	  				<div class="span6">
	  					<a class="icon-direction" href="https://maps.google.com/maps?q=34.00798,-81.042091">Get Directions</a>
	  				</div>
	  			</div>
  			</div>
  		</div>	     
        <!-- copyright notice -->
   
   </div><!-- row-fluid -->    
</div>       
<nav class="navbar footer">
  <div class="navbar-inner">
    <div class="container">
    
           			<ul id="menu-footer" class="nav footer-menu"><li id="menu-item-3986" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-3986"><a href="/">Home</a></li>
<li id="menu-item-3291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3291"><a href="info">About Contra</a></li>
<li id="menu-item-3292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3292"><a href="howto">New Dancer Tips</a></li>
<li id="menu-item-3290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3290"><a href="map">Dance Map</a></li>
</ul>
      
      <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div>
  </div>
</nav>
<div class="container center end">

  <p class="copyright">&copy; 2013-2014 Carolina Contra Club
<br> <small>Developed by <span id="byline" onclick="this.innerHTML='<a href=&quot;mailto:legrone.dev@gmail.com?Subject=Carolina Contra Website&quot; target=&quot;_top&quot;>legrone.dev@gmail.com</a>'">Jacob LeGrone</span></small></p>
</div>
<br>
<a href="about/#" class="up icon"><div class="arrow-up"></div></a>
</footer>



<script type="text/javascript">
$(document).ready(function(){
$("a[href^='http']").attr('target','_blank');
});

jQuery('a.up').click(function(e){
										  
		// If a link has been clicked, scroll the page to the link's hash target:
		
		jQuery.scrollTo( this.hash || 0, 500);
		e.preventDefault();
	});
</script>

{% block foot %} {% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44055940-1', 'carolinacontra.org');
  ga('send', 'pageview');

</script>
</body></html>